<title>HTML5 &amp; CSS3 Project</title>
<script src="Static/JavaScript/Modernizr.js">//Modernizr JS</script>
<?PHP
include 'FetchCDN/index.php';
exportjs('TweenMax.min.js');
?>

<link rel="stylesheet" type="text/css" href="Static/CSS/global_reset.css"/>
<link rel="stylesheet" type="text/css" href="Static/CSS/normalize.css"/>
<link rel="stylesheet" type="text/css" href="Static/CSS/demo.css"/>
<link rel="stylesheet" type="text/css" href="Static/CSS/component.css"/>
<link rel="stylesheet" type="text/css" href="Static/CSS/GradientGenerator.css"/>
<style type="text/css">.content { margin: 200px 150px; }</style>
<?PHP echo $meta?>
</head><body>